/* http://meyerweb.com/eric/tools/css/reset/ 
   v2.0 | 20110126
   License: none (public domain)
*/
html,
body,
div,
span,
applet,
object,
iframe,
h1,
h2,
h3,
h4,
h5,
h6,
p,
blockquote,
pre,
a,
abbr,
acronym,
address,
big,
cite,
code,
del,
dfn,
em,
img,
ins,
kbd,
q,
s,
samp,
small,
strike,
strong,
sub,
sup,
tt,
var,
b,
u,
i,
center,
dl,
dt,
dd,
ol,
ul,
li,
fieldset,
form,
label,
legend,
table,
caption,
tbody,
tfoot,
thead,
tr,
th,
td,
article,
aside,
canvas,
details,
embed,
figure,
figcaption,
footer,
header,
hgroup,
menu,
nav,
output,
ruby,
section,
summary,
time,
mark,
audio,
video {
  margin: 0;
  padding: 0;
  border: 0;
}

/* HTML5 display-role reset for older browsers */
article,
aside,
details,
figcaption,
figure,
footer,
header,
hgroup,
menu,
nav,
section {
  display: block;
}

body {
  line-height: 1;
}

a {
  text-decoration: none;
  color: inherit;
}

ol,
ul {
  list-style: none;
}

blockquote,
q {
  quotes: none;
}

blockquote:before, blockquote:after {
  content: "";
  content: none;
}

q:before, q:after {
  content: "";
  content: none;
}

table {
  border-collapse: collapse;
  border-spacing: 0;
}

@font-face {
  font-family: "Raleway";
  src: url("~@/assets/fonts/ralewaylight.woff2");
  font-weight: 300;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: "Raleway";
  src: url("~@/assets/fonts/ralewayregular.woff2");
  font-weight: 400;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: "Raleway";
  src: url("~@/assets/fonts/ralewaymedium.woff2");
  font-weight: 500;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: "Raleway";
  src: url("~@/assets/fonts/ralewaysemibold.woff2");
  font-weight: 600;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: "Raleway";
  src: url("~@/assets/fonts/ralewaybold.woff2");
  font-weight: 700;
  font-style: normal;
  font-display: swap;
}

*,
*:before,
*:after {
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
}

html,
body {
  height: 100%;
}

body {
  font-family: "Raleway", sans-serif;
  -webkit-font-smoothing: subpixel-antialiased !important;
  -webkit-backface-visibility: hidden;
  -moz-backface-visibility: hidden;
  -ms-backface-visibility: hidden;
}

body::-webkit-scrollbar {
  width: 13px;
  height: 13px;
}

body::-webkit-scrollbar-track {
  background: #fff;
}

body::-webkit-scrollbar-thumb {
  min-height: 20px;
  border: solid transparent;
  border-width: 1px 3px;
  border-radius: 6px;
  background-clip: content-box;
  -webkit-box-shadow: inset 0 0 0 10px rgba(0, 0, 0, 0.4);
          box-shadow: inset 0 0 0 10px rgba(0, 0, 0, 0.4);
}

body::-webkit-scrollbar-thumb:hover {
  border-width: 1px 2px;
}

.wrapper {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  min-height: 100%;
}

.main {
  -webkit-box-flex: 1;
      -ms-flex: 1 0 auto;
          flex: 1 0 auto;
}

.footer {
  -webkit-box-flex: 0;
      -ms-flex: 0 0 auto;
          flex: 0 0 auto;
}

.container {
  max-width: 960px;
  margin: 0 auto;
  padding: 0 15px;
}

.row {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
}

@media screen and (max-width: 576px) {
  .row {
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
  }
}

.column-30 {
  -webkit-box-flex: 0;
      -ms-flex: 0 1 33.33%;
          flex: 0 1 33.33%;
}

@media screen and (min-width: 992px) {
  .column {
    padding: 15px;
  }
}

@media screen and (max-width: 992px) {
  .column {
    padding: 10px;
    -webkit-box-flex: 33.33% !important;
        -ms-flex: 33.33% !important;
            flex: 33.33% !important;
  }
}

@media screen and (max-width: 576px) {
  .column {
    -webkit-box-flex: 50% !important;
        -ms-flex: 50% !important;
            flex: 50% !important;
  }
}

@media screen and (max-width: 500px) {
  .column {
    -webkit-box-flex: 100% !important;
        -ms-flex: 100% !important;
            flex: 100% !important;
  }
}

.column-50 {
  -webkit-box-flex: 0;
      -ms-flex: 0 1 50%;
          flex: 0 1 50%;
}

.column-60 {
  -webkit-box-flex: 0;
      -ms-flex: 0 1 60%;
          flex: 0 1 60%;
}

.column-70 {
  -webkit-box-flex: 0;
      -ms-flex: 0 1 70%;
          flex: 0 1 70%;
}

img {
  display: block;
  width: 100%;
  height: 100%;
}

.services,
.clients,
.footer {
  background-color: #f3f3f3;
}

.separator {
  width: 100%;
  height: 2px;
  background-color: #1f1f1f;
  opacity: 0.07;
}

.title {
  color: #232323;
  font-weight: 700;
  font-size: 22px;
  line-height: 1.147;
}

@media screen and (max-width: 992px) {
  .title {
    font-size: 21px;
  }
}

@media screen and (max-width: 768px) {
  .title {
    font-size: 20px;
  }
}

@media screen and (max-width: 576px) {
  .title {
    font-size: 19px;
  }
}

@media screen and (max-width: 460px) {
  .title {
    font-size: 18px;
  }
}

@media screen and (max-width: 320px) {
  .title {
    font-size: 17px;
  }
}

.page-title {
  text-align: center;
  color: #000;
  font-weight: 700;
  font-size: 25px;
  line-height: 1.147;
  margin-bottom: 40px;
}

@media screen and (max-width: 992px) {
  .page-title {
    font-size: 24px;
  }
}

@media screen and (max-width: 768px) {
  .page-title {
    font-size: 23px;
  }
}

@media screen and (max-width: 576px) {
  .page-title {
    font-size: 22px;
  }
}

@media screen and (max-width: 460px) {
  .page-title {
    font-size: 21px;
  }
}

@media screen and (max-width: 320px) {
  .page-title {
    font-size: 20px;
  }
}

.text {
  font-size: 18px;
  color: #242424;
  line-height: 1.38;
  font-weight: 400;
}

@media screen and (max-width: 992px) {
  .text {
    font-size: 16px;
  }
}

@media screen and (max-width: 768px) {
  .text {
    font-size: 15px;
  }
}

@media screen and (max-width: 576px) {
  .text {
    font-size: 14px;
  }
}

@media screen and (max-width: 460px) {
  .text {
    font-size: 13px;
  }
}

@media screen and (max-width: 320px) {
  .text {
    font-size: 12px;
  }
}

.date {
  font-weight: 400;
  color: #252525;
  font-size: 15px;
  opacity: 0.5;
}

.section + .section {
  margin-top: 100px;
}

@media screen and (max-width: 992px) {
  .section + .section {
    margin-top: 90px;
  }
}

@media screen and (max-width: 768px) {
  .section + .section {
    margin-top: 80px;
  }
}

@media screen and (max-width: 576px) {
  .section + .section {
    margin-top: 70px;
  }
}

@media screen and (max-width: 460px) {
  .section + .section {
    margin-top: 60px;
  }
}

@media screen and (max-width: 320px) {
  .section + .section {
    margin-top: 50px;
  }
}

.card {
  border-radius: 26px;
  background-color: #fff;
  -webkit-box-shadow: 0px 5px 6px 0px rgba(0, 0, 0, 0.12);
          box-shadow: 0px 5px 6px 0px rgba(0, 0, 0, 0.12);
}

.overlay {
  background-color: rgba(0, 0, 0, 0.7);
  width: 100vw;
  height: 100vh;
  position: fixed;
  top: 0;
  right: 0;
  z-index: 111;
}

.fade-enter-active,
.fade-leave-active {
  -webkit-transition: opacity 0.2s;
  transition: opacity 0.2s;
}

.fade-enter,
.fade-leave-to {
  opacity: 0;
}

blockquote {
  padding: 0 30px;
  position: relative;
}

blockquote::after {
  position: absolute;
  content: "";
  width: 11px;
  height: 100%;
  background-color: #487bfa;
  top: 0;
  left: 0;
  bottom: 0;
  right: 0;
  border-radius: 60px;
  z-index: 8;
}

.header {
  min-height: 100vh;
  min-height: -webkit-fill-available;
}

.header__top {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  height: 112px;
  padding: 54px 10px 22px;
}

@media screen and (max-height: 992px) {
  .header__top {
    padding-top: 10px;
    padding-bottom: 10px;
  }
}

.header__body {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  padding: 82px 20px;
  height: calc(100vh - 112px);
}

.header__body-img {
  max-width: 811px;
}

@media screen and (max-height: 992px) {
  .header__body-img {
    max-width: 70%;
  }
}

.header__body-title {
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.header__body-title h1 {
  line-height: 1.261;
  max-width: 475px;
  color: #222222;
  font-weight: 500;
  font-size: 30px;
  text-align: center;
}

@media screen and (max-height: 992px) {
  .header__body-title h1 {
    font-size: 25px;
  }
}

@media screen and (max-height: 992px) {
  .header__body {
    padding: 20px;
  }
}

.header .nav__list {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

.header .nav__list-item {
  margin-right: 75px;
}

.header .nav__list-link {
  color: #373737;
  font-size: 18px;
  letter-spacing: 2.269px;
  font-weight: 500;
  position: relative;
}

.header .nav__list-link:hover::after {
  position: absolute;
  content: "";
  width: 100%;
  height: 5px;
  background-color: #487bfa;
  top: 25px;
  left: 0;
  right: 0;
  bottom: 0;
}

.services {
  padding: 50px 20px;
}

.services__inner {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
}

.services__item + .services__item {
  margin-right: 100px;
}

.services__item {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  padding: 37px 45px 18px;
  border-radius: 25px;
  background-color: #fff;
  position: relative;
  min-height: 264px;
  min-width: 254px;
  z-index: 3;
}

.services__item::after {
  content: "";
  width: 100%;
  position: absolute;
  height: 2px;
  background-color: #1f1f1f;
  opacity: 0.07;
  top: 102px;
  z-index: 4;
}

.services__item-title {
  text-align: center;
  font-size: 22px;
  color: #222222;
  font-weight: 500;
}

.services__item-desc {
  font-size: 14px;
  color: #1f1f1f;
  font-weight: 300;
}

.services__item-btn {
  font-weight: 700;
  font-size: 11px;
  width: 105px;
  height: 30px;
  -ms-flex-item-align: end;
      align-self: flex-end;
}

.consultation {
  padding: 55px 85px 0;
}

.consultation__inner {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
}

.consultation__title {
  color: #222222;
  font-weight: 700;
  font-size: 33px;
}

.consultation__desc {
  margin-top: 24px;
  font-size: 20px;
  color: #222222;
  font-weight: 300;
}

.consultation__btn {
  margin-top: 30px;
  font-size: 18px;
  font-weight: 500;
  letter-spacing: 1.436;
}

.clients {
  padding: 55px 90px;
}

.clients__inner {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

.clients__title {
  text-align: center;
  color: #222222;
  font-size: 26px;
  font-weight: 700;
  margin-bottom: 68px;
}

.clients__item {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  min-width: 364px;
  min-height: 249px;
  background-color: #fff;
}

.clients__btn {
  margin-top: 45px;
  width: 206px;
  font-size: 20px;
}

.team {
  padding: 105px 0;
}

.team__inner {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

.team__title {
  font-weight: 700;
  font-size: 26px;
  color: #222222;
  text-align: center;
  margin-bottom: 51px;
}

.team__person {
  text-align: center;
}

.team__person-name {
  font-size: 20px;
  color: #222222;
  font-weight: 500;
  margin-top: 29px;
}

.team__person-position {
  font-size: 14px;
  color: #222222;
  font-weight: 300;
  margin-top: 4px;
}

.team__person-practice {
  margin-top: 9px;
  font-size: 10px;
  font-weight: 300;
  color: #6a6a6a;
}

.team__dots {
  margin-top: 38px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.team__dots-item {
  cursor: pointer;
  margin-right: 8px;
  border-radius: 50%;
  width: 8px;
  height: 8px;
  background-color: #bababa;
}

.team__dots-item--active {
  background-color: #487bfa;
  width: 12px;
  height: 12px;
}

.blog__inner {
  display: -ms-grid;
  display: grid;
}

.blog__head {
  position: relative;
  margin-bottom: 87px;
}

.blog__head::after {
  position: absolute;
  content: "";
  width: 11px;
  height: 100%;
  background-color: #487bfa;
  top: 0px;
  left: -25px;
  border-radius: 60px;
}

.blog__title {
  color: #222222;
  font-size: 30px;
  font-weight: 500;
}

.blog__desc {
  font-size: 15px;
  color: #222222;
  font-weight: 300;
  margin-top: 23px;
}

.blog__item {
  border-radius: 20px;
  background-color: #fff;
  -webkit-box-shadow: 0px 2px 5px 0px rgba(0, 0, 0, 0.27);
          box-shadow: 0px 2px 5px 0px rgba(0, 0, 0, 0.27);
}

.blog__item-title {
  font-size: 30px;
  color: #222222;
  font-weight: 700;
}

.blog__item-link {
  font-size: 20px;
  font-weight: 300;
  color: #222222;
  cursor: pointer;
}

.order {
  padding: 222px 0;
}

.order__inner {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

.order__title, .order__desc {
  text-align: right;
}

.order__title {
  font-size: 28px;
  color: #1b1b1b;
  font-weight: 700;
}

.order__desc {
  font-size: 18px;
  color: #1b1b1b;
  font-weight: 400;
  margin-top: 21px;
}

.order__form {
  margin-left: 114px;
}

.order__form-item {
  margin-top: 30px;
}

.order__form-input {
  font-size: 14px;
  font-family: "Raleway", sans-serif;
  width: 100%;
  font-weight: 300;
  color: #1b1b1b;
  border: none;
  border-bottom: 2px solid rgba(28, 28, 28, 0.149);
  outline: none;
  padding: 9px 3px;
}

.order__form-input::-webkit-input-placeholder {
  font-weight: 300;
  color: #1b1b1b;
}

.order__form-input:-ms-input-placeholder {
  font-weight: 300;
  color: #1b1b1b;
}

.order__form-input::-ms-input-placeholder {
  font-weight: 300;
  color: #1b1b1b;
}

.order__form-input::placeholder {
  font-weight: 300;
  color: #1b1b1b;
}

.order__form-btn {
  margin-top: 29px;
  font-size: 14px;
  width: 230px;
  height: 44px;
}

.order__form-agree {
  margin-top: 9px;
  font-size: 9px;
  font-weight: 300;
  color: #404040;
  opacity: 0.5;
}

.footer__inner {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  padding: 25px 0;
}

.footer__logo {
  width: 98px;
}

.footer__copyright {
  margin-top: 12px;
}

.footer__contacts {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  margin-top: 28px;
}

.footer__contacts-number {
  font-size: 15px;
  color: #232323;
  font-weight: 700;
}

.footer__contacts-mail {
  margin-top: 13px;
  font-size: 14px;
  color: #1b1b1b;
  font-weight: 300;
}

.footer__menu-title {
  font-size: 22px;
  color: #1b1b1b;
  font-weight: 700;
  margin-bottom: 29px;
}

.footer__menu-item {
  margin-top: 30px;
}

.footer__menu-link {
  font-size: 22px;
  color: #1b1b1b;
  font-weight: 400;
}

.footer__menu-link:hover {
  color: #487bfa;
}

.footer__docs {
  margin-top: 69px;
}

.footer__docs-link {
  font-weight: 400;
  color: #1b1b1b;
  font-size: 15px;
  margin-right: 45px;
}

.footer__docs-link:hover {
  color: #487bfa;
}
/*# sourceMappingURL=style.css.map */