@font-face {
  font-family: "Open Sans Bold";
  src: url("~@/assets/fonts/opensansbold.woff2");
  font-weight: 600;
  font-style: normal;
  font-display: swap;
}
@font-face {
  font-family: "Open Sans Regular";
  src: url("~@/assets/fonts/opensansregular.woff2");
  font-weight: 400;
  font-style: normal;
  font-display: swap;
}
@font-face {
  font-family: "Raleway";
  src: url("~@/assets/fonts/ralewaylight.woff2");
  font-weight: 300;
  font-style: normal;
  font-display: swap;
}
@font-face {
  font-family: "Raleway";
  src: url("~@/assets/fonts/ralewayregular.woff2");
  font-weight: 400;
  font-style: normal;
  font-display: swap;
}
@font-face {
  font-family: "Raleway";
  src: url("~@/assets/fonts/ralewaymedium.woff2");
  font-weight: 500;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: "Raleway";
  src: url("~@/assets/fonts/ralewaysemibold.woff2");
  font-weight: 600;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: "Raleway";
  src: url("~@/assets/fonts/ralewaybold.woff2");
  font-weight: 700;
  font-style: normal;
  font-display: swap;
}
