$white_color: #fff;
$section_color: #f3f3f3;
$black_color: #000;
$main_color: #487bfa;
$text_color: #373737;
$border_radius: 60px;

// FONTS
$font_light: 300;
$font_regular: 400;
$font_medium: 500;
$font_semibold: 700;
$font_bold: 700;
